
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <title>
      
        Features | Netlify
      
    </title>
    <link rel="manifest" href="/img/global/favicon/manifest.json">
    <link rel="search" type="application/opensearchdescription+xml" title="Netlify" href="/opensearch.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/global/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/global/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/global/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/global/favicon/manifest.json">
    <link rel="mask-icon" href="/img/global/favicon/safari-pinned-tab.svg" color="#00c7b7">
    <link rel="shortcut icon" href="/img/global/favicon/favicon.ico">
    
    <meta name="apple-mobile-web-app-title" content="Netlify">
    <meta name="application-name" content="Netlify">
    <meta name="msapplication-config" content="/img/global/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content='
      
        Deploy your site through Netlify and add HTTPS, CDN distribution, caching, continuous deployment, and more to your site with a single click.
      
    '>
    <meta itemprop="name" content='
      
        Features | Netlify
      
    '>
    <meta itemprop="description" content='
      
        Deploy your site through Netlify and add HTTPS, CDN distribution, caching, continuous deployment, and more to your site with a single click.
      
    '>
    <meta itemprop="image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@netlify">
    <meta name="twitter:title" content='
      
        Features | Netlify
      
    '>
    <meta name="twitter:description" content='
      
        Deploy your site through Netlify and add HTTPS, CDN distribution, caching, continuous deployment, and more to your site with a single click.
      
    '>
    <meta name="twitter:creator" content="@netlify">
    <meta name="twitter:image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta property="og:title" content='
      
        Features | Netlify
      
    '>
    <meta property="og:description" content='
      
        Deploy your site through Netlify and add HTTPS, CDN distribution, caching, continuous deployment, and more to your site with a single click.
      
    '>
    <meta name="og:image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta name="og:image:secure_url" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta property="og:site_name" content="Netlify" />
    <link rel='stylesheet' href='https://cdn.netlify.com/bundles/43981accc984ee8b4697e0281ef789ea9baff094.css'/>


	



    
  <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0066/4847.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script></head>
  <body>
  
    <header id="header" class="full-width header">
  <nav class="global-nav desktop">
    
			<a href="/" class="nav-item logo nav-logo" data-letters="logo">logo</a>
		
			<a href="/features/" class="nav-item " data-letters="Features">Features</a>
		
			<a href="/pricing/" class="nav-item " data-letters="Pricing">Pricing</a>
		
			<a href="/docs/" class="nav-item " data-letters="Docs">Docs</a>
		
			<a href="/blogs/" class="nav-item " data-letters="Blog">Blog</a>
		
			<a href="/support/" class="nav-item " data-letters="Support">Support</a>
		
		<div class="nav-ctas">
			<a href="https://app.netlify.com/" class="nav-item nav-cta">Log In</a>
			<a href="https://app.netlify.com/signup" class="nav-item smaller btn-primary nav-cta">Sign Up</a>
		</div>
		<div id="menu-icon-wrapper" class="menu-icon-wrapper">
			<svg width="1000px" height="1000px">
				<path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800" style="stroke-dashoffset: 5803.15; stroke-dasharray: 2901.57, 2981.57, 240;"></path>
				<path id="pathB" d="M 300 500 L 700 500" style="stroke-dashoffset: 800; stroke-dasharray: 400, 480, 240;"></path>
				<path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200" style="stroke-dashoffset: 6993.11; stroke-dasharray: 3496.56, 3576.56, 240;"></path>
			</svg>
			<button id="menu-icon-trigger" class="menu-icon-trigger"></button>
		</div>
		<button id="search-button" class="search-button">
			<div id="search-icon" class="search-icon">
				<div class="search-icon-circle"></div>
				<div class="search-icon-rectangle right"></div>
				<div class="search-icon-rectangle left"></div>
			</div>
		</button>
	</nav>
	<nav id="global-nav" class="global-nav mobile">
		
			<a href="/" class="nav-item nav-logo" data-letters="logo">logo</a>
		
			<a href="/features/" class="nav-item " data-letters="Features">Features</a>
		
			<a href="/pricing/" class="nav-item " data-letters="Pricing">Pricing</a>
		
			<a href="/docs/" class="nav-item " data-letters="Docs">Docs</a>
		
			<a href="/blogs/" class="nav-item " data-letters="Blog">Blog</a>
		
			<a href="/support/" class="nav-item " data-letters="Support">Support</a>
		
		<a href="https://app.netlify.com/" class="nav-item login-nav-item">Log In</a>
		<a href="https://app.netlify.com/signup" class="nav-item smaller btn-primary nav-cta">Sign Up</a>
	</nav>
</header>
  

  <div id="search-overlay" class="search-overlay">
	<div class="container">
		<input id="search" class="search-input" type="search" placeholder="Type to Search">
		<span id="clear-search" class="clear-search">×</span>
		<span class="search-bar"></span>
		<span class="esc-note">press <strong>ESC</strong> to close</span>
		<span><img src="https://cdn.netlify.com/4c75b91b88ae0450ea5513b1f4dfc7e54f1ce0f0/a44b1/img/global/search-by-algolia.svg"/></span>
		<div id="results" class="search-results">
		</div>
	</div>
</div>



<div class="features page">

	<div id="features-hero" class="features-hero img-bg-hero full-width">
		<div class="intro centered-text">
	<h1>Building for the modern web, made easy</h1>

	
		<h2>Deploy modern static websites with our automated platform. Add best practices like SSL, CDN distribution, caching and continuous deployment with a single click.</h2>
	

	
  
		<a href="https://app.netlify.com/signup" class="btn-primary">Get Started Now for <strong>FREE</strong></a>


	
  
  
</div>
	</div>

	<div id="nav-anchor"></div>
	<div id="features-nav" class="features-nav-bar full-width">
		<ul>
			
				<li class="feature-section-label performance">
					<a href="#performance">
						<img src="https://cdn.netlify.com/67affaf2a002ac61b8c8ff84d80330778c69ca45/d324a/img/features/instant-cache-invalidation.svg" class="features-nav-icon svg"></img>Performance
					</a>
				</li>
			
				<li class="feature-section-label scalability">
					<a href="#scalability">
						<img src="https://cdn.netlify.com/d88c8960d9bee8235366b3bd9b0e73d04e56dc7b/dc8a9/img/features/infinite-scale.svg" class="features-nav-icon svg"></img>Scalability
					</a>
				</li>
			
				<li class="feature-section-label security">
					<a href="#security">
						<img src="https://cdn.netlify.com/7f03e2c79be0fad06f0157cd09b0ae9dfc1bf453/15417/img/features/instant-passwords.svg" class="features-nav-icon svg"></img>Security
					</a>
				</li>
			
				<li class="feature-section-label automation">
					<a href="#automation">
						<img src="https://cdn.netlify.com/1b034eacd88d429bdbaa76009e222a4f4358f116/8b23b/img/features/prerendering.svg" class="features-nav-icon svg"></img>Automation
					</a>
				</li>
			
				<li class="feature-section-label dev-tools">
					<a href="#dev-tools">
						<img src="https://cdn.netlify.com/63f0ec97b903cc4db0945c9c28cd9e99323a39a0/f16f1/img/features/cli.svg" class="features-nav-icon svg"></img>Dev Tools
					</a>
				</li>
			
				<li class="feature-section-label single-page-apps">
					<a href="#single-page-apps">
						<img src="https://cdn.netlify.com/74bb85eabd5d94bd571eae435992db4ef5d53191/f7bd8/img/features/programmable-api.svg" class="features-nav-icon svg"></img>Single Page Apps
					</a>
				</li>
			
				<li class="feature-section-label domain-management">
					<a href="#domain-management">
						<img src="https://cdn.netlify.com/5785f5a276950e78e8b3cc9e43a1c47ee1650b77/add79/img/features/one-click-ssl.svg" class="features-nav-icon svg"></img>Domain Management
					</a>
				</li>
			
		</ul>
	</div>

	<div class="feature-sections full-width">
		
			<section id="performance" class="feature-section performance">
				<div class="section-content">
					
						<div class="feature-section-intro img-left">
							<div class="featured-img">
								<img src="https://cdn.netlify.com/ba962d36c04f29f7393e815ca4f4f8d17e673c75/5b952/img/features/section-art/performance.png" srcset="https://cdn.netlify.com/ba962d36c04f29f7393e815ca4f4f8d17e673c75/5b952/img/features/section-art/performance.png 1x, https://cdn.netlify.com/8d87c22ff7403abe6b042d02d42df280a5714496/bc6c5/img/features/section-art/performance@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Performance at the core.</h1>
								<h2>Our ultra performant platform has nodes all over the world making it the world&#39;s fastest DNS service. Watch conversion rates skyrocket because of instant loads and instant cache invalidation.</h2>
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature global-cdn">
									<h3>Global CDN</h3>
									<p>We have nodes across the globe to keep latency down. Our multilayered CDN provides a scalable, globally consistent, fast version of any site.</p>
								</div>
							
						
							
								<div class="subfeature ultra-fast-dns">
									<h3>Ultra-fast DNS</h3>
									<p>We provide the fastest DNS service available. It is globally aware so that no matter where a request comes from, all requests are routed to the nearest nodes.</p>
								</div>
							
						
							
								<div class="subfeature high-availability">
									<h3>High Availability</h3>
									<p>Our global, multilayered CDN is setup so that slow or failing nodes are seamlessly removed. Top to bottom, our infrastructure is redundant, to make sure we keep traffic flowing.</p>
								</div>
							
						
							
								<div class="subfeature atomic-deploys">
									<h3>Atomic Deploys</h3>
									<p>Atomic deploys push your site to our CDN in its complete, updated state. Your newest version is immediately available everywhere, with the safety of an instant rollback one click away.</p>
								</div>
							
						
							
								<div class="subfeature instant-cache-invalidation">
									<h3>Instant Cache Invalidation</h3>
									<p>Our intelligent deployment process allows us to completely change the state of your site in ~1 sec. Releasing or rolling back a site we host eliminates caching problems. Instant global consistency is in our DNA.</p>
								</div>
							
						
							
								<a href="http://testmysite.io" target="_blank" class="subfeature is-your-site-under-performing">
									<h3>Is your site under-performing?</h3>
									<p>Click here to check any site’s performance for free with our speedtest tool.</p>
								</a>
							
						
					</div>
				</div>
			</section>
		
			<section id="scalability" class="feature-section scalability">
				<div class="section-content">
					
						<div class="feature-section-intro img-right">
							<div class="featured-img mobile-img">
								<img src="https://cdn.netlify.com/a9f011231ee8cf683858803c79f5eb78e6c5e12f/1ec0d/img/features/section-art/scalability.png" srcset="https://cdn.netlify.com/a9f011231ee8cf683858803c79f5eb78e6c5e12f/1ec0d/img/features/section-art/scalability.png 1x, https://cdn.netlify.com/c07e9a20a336ebfe6cc16482310eac18ae3c33d7/f2e87/img/features/section-art/scalability@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Servers built for Scalability</h1>
								<h2>Netlify scales with your site. Whether it&#39;s a personal blog or a huge multilingual site with 20,000 pages, Netlify can handle your array of buildtools, frameworks, and APIs. Furthermore, you only pay for what you use. No need to overprovision for hosting.</h2>
							</div>
							<div class="featured-img">
								<img src="https://cdn.netlify.com/a9f011231ee8cf683858803c79f5eb78e6c5e12f/1ec0d/img/features/section-art/scalability.png" srcset="https://cdn.netlify.com/a9f011231ee8cf683858803c79f5eb78e6c5e12f/1ec0d/img/features/section-art/scalability.png 1x, https://cdn.netlify.com/c07e9a20a336ebfe6cc16482310eac18ae3c33d7/f2e87/img/features/section-art/scalability@2x.png 2x" class="responsive" />
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature infinite-scale">
									<h3>Infinite Scale</h3>
									<p>Seamlessly grow from a personal blog to an international phenomenon. Our global CDN ensures your site is always as fast as greased lightning, regardless of load.</p>
								</div>
							
						
							
								<div class="subfeature complex-site-support">
									<h3>Complex Site Support</h3>
									<p>Using intelligent caching, updating your site is painless. We upload only files that have changed, minimizing the time spent waiting for 1000s of pages to upload.</p>
								</div>
							
						
							
								<div class="subfeature automated-hosting">
									<h3>Automated Hosting</h3>
									<p>Our developer tools make it easy to create, deploy and automatically manage thousands of unique sites. Our philosophy is the more sites, the merrier.</p>
								</div>
							
						
							
								<div class="subfeature asset-fingerprinting">
									<h3>Asset Fingerprinting</h3>
									<p>By fingerprinting assets, we ensure that the current version of your site is globally consistent. Gone are the days of wondering what site people see.</p>
								</div>
							
						
							
								<div class="subfeature geo-ip/language-redirection">
									<h3>Geo IP/Language Redirection</h3>
									<p>Our CDN supports complex internationalization rules. One DNS lookup will always serve your site in the correct language. Redirects occur at CDN level so you take zero performance hit.</p>
								</div>
							
						
							
								<div class="subfeature gradual-migration">
									<h3>Gradual Migration</h3>
									<p>Using Netlify’s advanced redirect rules, incrementally migrating to Netlify is safe and simple with no effect on performance. Learn how to <a href="https://www.netlify.com/blog/2016/03/10/go-static-without-losing-your-server">Go Static Without Losing Your Server</a>.</p>
								</div>
							
						
							
								<div class="subfeature atomic-deploys">
									<h3>Atomic Deploys</h3>
									<p>We view your site as a whole, not a bunch of pages. When pushing a change to your site live without Atomic Deploy you’re pushing files live one-by-one, which could lead to missing assets, broken links or dropped connections as your new version loads. Avoid periodically broken sites with Netlify.</p>
								</div>
							
						
							
								<div class="subfeature unlimited-snapshots">
									<h3>Unlimited Snapshots</h3>
									<p>We keep snapshots of every version of your site so you can track changes and revert back to any point in time, with just the click of a button.</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
			<section id="security" class="feature-section security">
				<div class="section-content">
					
						<div class="feature-section-intro img-left">
							<div class="featured-img">
								<img src="https://cdn.netlify.com/45f4ea560b2728241431323e29d9b8953073cb03/2e3df/img/features/section-art/security.png" srcset="https://cdn.netlify.com/45f4ea560b2728241431323e29d9b8953073cb03/2e3df/img/features/section-art/security.png 1x, https://cdn.netlify.com/3b8e86cbf4bf9989558074f8fc9a0c544b238d83/53bba/img/features/section-art/security@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>What&#39;s speed without security?</h1>
								<h2>Performance and scale means nothing without security, which is why Netlify offers it all, from free automated SSL and HTTP2 as default, to instant password protection and secure build environments.</h2>
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature free-one-click-ssl">
									<h3>Free One-Click SSL</h3>
									<p>We believe in security. We generate, deploy and manage unique SSL certificates for each site with just one click, all completely free.</p>
								</div>
							
						
							
								<div class="subfeature certificate-rotation">
									<h3>Certificate Rotation</h3>
									<p>We automatically renew and deploy your new SSL certificates, taking the pain out of Certificate management.</p>
								</div>
							
						
							
								<div class="subfeature http2">
									<h3>HTTP2</h3>
									<p>Full support for the next generation web protocol, built for better performance and more efficient asset loading.</p>
								</div>
							
						
							
								<div class="subfeature jwt-based-access-control">
									<h3>JWT Based Access Control</h3>
									<p>With JWT Based Access Control you build sites with any site generator and enable granular role based permissions while delegating authentication and user management to any service that can issue JSON Web Tokens.</p>
								</div>
							
						
							
								<div class="subfeature secure-build-environment">
									<h3>Secure Build Environment</h3>
									<p>Our build environments live only for the duration of the build. Combined with a build cache, we ensure that each build is fast and fully isolated.</p>
								</div>
							
						
							
								<div class="subfeature ddos-protection">
									<h3>DDOS Protection</h3>
									<p>As part of custom plans Netlify offers advanced DDOS protection and mitigation via several partnerships.</p>
								</div>
							
						
							
								<div class="subfeature teams">
									<h3>Teams</h3>
									<p>Create as many teams as you like, and collaborate with other developers not just on a single site, but on all the sites that belong to a team. Various permissions are available depending on your plan choice.</p>
								</div>
							
						
							
								<div class="subfeature api-origin-protection">
									<h3>API Origin Protection</h3>
									<p>Netlify offers advanced Origin Protection. A site hosted on a CDN is protected from malware, but it can still be vulnerable to both DDOS and attacks on any APIs used. This service uses a new way of whitelabeling benign traffic at CDN level. Keep your API safe while filtering out bot traffic and never lose performance!</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
			<section id="automation" class="feature-section automation">
				<div class="section-content">
					
						<div class="feature-section-intro img-right">
							<div class="featured-img mobile-img">
								<img src="https://cdn.netlify.com/ca0e00c5d8a04da78ef458a5c87b8e04d3dfc06d/e8db0/img/features/section-art/automation.png" srcset="https://cdn.netlify.com/ca0e00c5d8a04da78ef458a5c87b8e04d3dfc06d/e8db0/img/features/section-art/automation.png 1x, https://cdn.netlify.com/f487311d4d5516f55fdafb0e420553443add5020/edd2f/img/features/section-art/automation@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Dialed in automation for ease.</h1>
								<h2>Let Netlify automate your workflow. The separation of frontend and backend opens up a whole new world of possibilities. But it also means a lot of manual work, manually integrating and managing different tools and processes. Until now.</h2>
							</div>
							<div class="featured-img">
								<img src="https://cdn.netlify.com/ca0e00c5d8a04da78ef458a5c87b8e04d3dfc06d/e8db0/img/features/section-art/automation.png" srcset="https://cdn.netlify.com/ca0e00c5d8a04da78ef458a5c87b8e04d3dfc06d/e8db0/img/features/section-art/automation.png 1x, https://cdn.netlify.com/f487311d4d5516f55fdafb0e420553443add5020/edd2f/img/features/section-art/automation@2x.png 2x" class="responsive" />
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature git-integration">
									<h3>Git Integration</h3>
									<p>Netlify pairs naturally with Git. If you use GitHub, GitLab, BitBucket or just your own private repo, we let you pull, change and push to manage your site.</p>
								</div>
							
						
							
								<div class="subfeature automated-builds">
									<h3>Automated Builds</h3>
									<p>Leave the build boxes to us. Continuous deployment is as simple as telling us how and what to build. Then rapidly deploy your site with standard git commands.</p>
								</div>
							
						
							
								<div class="subfeature inbound-webhooks">
									<h3>Inbound Webhooks</h3>
									<p>Trigger builds with a POST request to integrate with external APIs, schedule builds of your site or trigger rebuilds from a Google Spreadsheet. <a href="https://www.netlify.com/docs/webhooks">What can you do with webhooks?</a></p>
								</div>
							
						
							
								<div class="subfeature outbound-webhooks--integrations">
									<h3>Outbound Webhooks &amp; Integrations</h3>
									<p>Set up any number of outbound webhooks. Receive email or Slack notifications for new form submissions, deploys or build failures. <a href="https://www.netlify.com/docs/webhooks">What can you do with webhooks?</a></p>
								</div>
							
						
							
								<div class="subfeature secure-build-environment">
									<h3>Secure Build Environment</h3>
									<p>We never store any GitHub tokens on our servers, and your builds are run in a completely locked down environment. <a href="https://www.netlify.com/docs/github-permissions">Read more about GitHub tokens and Netlify</a>.</p>
								</div>
							
						
							
								<div class="subfeature cached-dependencies">
									<h3>Cached Dependencies</h3>
									<p>Dependencies (rubygems, npm, etc.) are automatically installed and cached between builds to keep build time down. <a href="https://www.netlify.com/docs/continuous-deployment">Read more about dependencies and run times</a>.</p>
								</div>
							
						
							
								<div class="subfeature instant-cache-invalidation">
									<h3>Instant Cache Invalidation</h3>
									<p>One of the problems with releasing a new site is that you never know if a user is viewing a cached version. Netlify invalidates the cache instantly, serving only the intended version across the globe. Never wait to see a live version again.</p>
								</div>
							
						
							
								<div class="subfeature versioning--rollbacks">
									<h3>Versioning &amp; Rollbacks</h3>
									<p>Each lightweight deploy is treated as an immutable snapshot of the site. Rolling back as far as you’d like is just a matter of clicking the version you want live.</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
			<section id="dev-tools" class="feature-section dev-tools">
				<div class="section-content">
					
						<div class="feature-section-intro img-left">
							<div class="featured-img">
								<img src="https://cdn.netlify.com/89e0e2e35b15caa6a05576387f91e41e19b8951b/a9262/img/features/section-art/dev-tools.png" srcset="https://cdn.netlify.com/89e0e2e35b15caa6a05576387f91e41e19b8951b/a9262/img/features/section-art/dev-tools.png 1x, https://cdn.netlify.com/0171c99de1ed93bff6326209713ee306bbfb4d75/79c06/img/features/section-art/dev-tools@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Tools to help you work better.</h1>
								<h2>Netlify is the most full featured platform of its kind, with tons of dev tools to make life easier for the professional coder.</h2>
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature multiple-environments-support">
									<h3>Multiple Environments Support</h3>
									<p>Support multiple environments (e.g. dev, staging, prod) with a simple argument. Each environment can track a git branch, providing isolated environments for experimentation.</p>
								</div>
							
						
							
								<div class="subfeature restful-api">
									<h3>RESTful API</h3>
									<p>Netlify is completely designed around a RESTful API. Manage, query and deploy a site all using simple HTTP calls. <a href="https://www.netlify.com/docs/api">See API Docs</a>.</p>
								</div>
							
						
							
								<div class="subfeature javascript-injection">
									<h3>JavaScript Injection</h3>
									<p>Add Google Analytics, retargeting codes or any other script you want straight from the web UI. <a href="https://www.netlify.com/docs/inject-analytics-snippets">Read the docs on Easy Snippet Injection here</a>.</p>
								</div>
							
						
							
								<div class="subfeature branch-based-split-testing">
									<h3>Branch Based Split Testing</h3>
									<p>Split the traffic for your main domain between two or more branch deploys. The logic takes places right at our CDN edge nodes without any loss of performance and keeps track of cookie affinity to make sure each visitor gets a consistent view of your site.</p>
								</div>
							
						
							
								<div class="subfeature redirect-rewrite--proxy-rules">
									<h3>Redirect, Rewrite, &amp; Proxy Rules</h3>
									<p>Use different rules to control how requests are handled. Proxy part of your traffic to your own backend, redirect old pages, or rewrite a page entirely. Or do them all.</p>
								</div>
							
						
							
								<div class="subfeature native-clients">
									<h3>Native Clients</h3>
									<p>Don’t feel like writing the HTTP calls? We have native clients in <a href="https://github.com/netlify/node-client">Javascript</a>, <a href="https://github.com/netlify/netlify-go">Go</a> and <a href="https://github.com/netlify/ruby-client">Ruby</a>.</p>
								</div>
							
						
							
								<div class="subfeature custom-http-headers">
									<h3>Custom HTTP Headers</h3>
									<p>Take full control over any HTTP header sent by Netlify. Easily add CORS or Content Security Headers to your site. <a href="https://www.netlify.com/docs/headers-and-basic-auth">What does this mean and why is this important?</a></p>
								</div>
							
						
							
								<div class="subfeature full-featured-cli">
									<h3>Full-Featured CLI</h3>
									<p>Setup, query and deploy without taking your hands off the keyboard. The CLI is a very powerful way to do everything from launching a new site to rolling back a deploy. <a href="https://www.netlify.com/docs/cli">See CLI documentation</a>.</p>
								</div>
							
						
							
								<div class="subfeature form-submission-hooks">
									<h3>Form Submission Hooks</h3>
									<p>Netlify supports form submissions for any HTML form on your site and triggers email, slack notifications or webhooks. <a href="https://www.netlify.com/docs/form-handling">Read about form handling in our documentation</a>.</p>
								</div>
							
						
							
								<div class="subfeature password-protection">
									<h3>Password Protection</h3>
									<p>We provide simple password protection for a site out of the box. That means that you can launch a site and have coarse grained access with a click or a few keystrokes.</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
			<section id="single-page-apps" class="feature-section single-page-apps">
				<div class="section-content">
					
						<div class="feature-section-intro img-right">
							<div class="featured-img mobile-img">
								<img src="https://cdn.netlify.com/51b37b05630c4a72e3aff7d5e3552b0bb6d93c08/2c843/img/features/section-art/single-page-apps.png" srcset="https://cdn.netlify.com/51b37b05630c4a72e3aff7d5e3552b0bb6d93c08/2c843/img/features/section-art/single-page-apps.png 1x, https://cdn.netlify.com/dd0f3e9ff6fcba7a59c3c7fa56748ec1fc762715/89f2c/img/features/section-art/single-page-apps@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Easy Deploys for Single-Page apps.</h1>
								<h2>Building a modern Single Page App? Netlify is the perfect deployment platform whether you&#39;re on React, Angular, Ember or your own homebrewed framework.</h2>
							</div>
							<div class="featured-img">
								<img src="https://cdn.netlify.com/51b37b05630c4a72e3aff7d5e3552b0bb6d93c08/2c843/img/features/section-art/single-page-apps.png" srcset="https://cdn.netlify.com/51b37b05630c4a72e3aff7d5e3552b0bb6d93c08/2c843/img/features/section-art/single-page-apps.png 1x, https://cdn.netlify.com/dd0f3e9ff6fcba7a59c3c7fa56748ec1fc762715/89f2c/img/features/section-art/single-page-apps@2x.png 2x" class="responsive" />
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature prerendering">
									<h3>Prerendering</h3>
									<p>Never worry about SEO for your Single Page App again by adding Netlify’s prerendering backend with a one-click setup. <a href="https://www.netlify.com/docs/prerendering">Read all about prerendering in our documentation</a>.</p>
								</div>
							
						
							
								<div class="subfeature client-side-routing-support">
									<h3>Client-side Routing Support</h3>
									<p>Setup a simple rule to make your single page app handle routing. This way all requests that don’t match a static file will serve your index file, so your router can handle them client side. <a href="https://www.netlify.com/docs/redirects#history-pushstate-and-single-page-apps">Read all about history push-state support in our docs</a>.</p>
								</div>
							
						
							
								<div class="subfeature api-proxying">
									<h3>API Proxying</h3>
									<p>Using the redirect rules, it’s simple to host the site on Netlify while routing all API calls to your own backend. Now, you don’t have to worry about CORS. <a href="https://www.netlify.com/docs/redirects">See Redirects documentation</a>.</p>
								</div>
							
						
							
								<div class="subfeature authentication-providers">
									<h3>Authentication Providers</h3>
									<p>Let your users authenticate with GitHub or other OAuth2 providers without any backend. <a href="https://www.netlify.com/docs/authentication-providers">Read OAuth Provider documentation</a>.</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
			<section id="domain-management" class="feature-section domain-management">
				<div class="section-content">
					
						<div class="feature-section-intro img-left">
							<div class="featured-img">
								<img src="https://cdn.netlify.com/b6e0152ea614f75a65e34906d8e93012880b99b3/afe5b/img/features/section-art/domain-management.png" srcset="https://cdn.netlify.com/b6e0152ea614f75a65e34906d8e93012880b99b3/afe5b/img/features/section-art/domain-management.png 1x, https://cdn.netlify.com/cad1f0ee6b94e4bbc779c22b3363da9d76789d73/dd4df/img/features/section-art/domain-management@2x.png 2x" class="responsive" />
							</div>
							<div class="section-intro">
								<h1>Easy Domain Management</h1>
								<h2>Netlify provides you with complete domain management. Custom domains, subdomains, aliases, DNS hosting and Domain registration all editable from the UI.</h2>
							</div>
						</div>
					
					<div class="subfeatures">
						
							
								<div class="subfeature custom-domains">
									<h3>Custom Domains</h3>
									<p>Use your custom domain with any Netlify plan.</p>
								</div>
							
						
							
								<div class="subfeature domain-aliases">
									<h3>Domain Aliases</h3>
									<p>Point more than one domain to the same website. <a href="https://www.netlify.com/blog/2015/10/30/domain-aliases-as-many-as-you-like">Read our blogpost on domain aliases</a>.</p>
								</div>
							
						
							
								<div class="subfeature netlify-subdomain">
									<h3>Netlify Subdomain</h3>
									<p>If you either don’t have a domain or just need to do a test site, use yourdomain.netlify.com See an <a href="http://example.netlify.com/">example here</a>.</p>
								</div>
							
						
							
								<div class="subfeature dns-hosting-ns1">
									<h3>DNS Hosting (NS1)</h3>
									<p>Netlify includes high uptime ultra-fast DNS hosting, with a simple but powerful DNS panel and full API access.</p>
								</div>
							
						
							
								<div class="subfeature domain-registration">
									<h3>Domain Registration</h3>
									<p>Register and manage your domain from within Netlify.</p>
								</div>
							
						
					</div>
				</div>
			</section>
		
	</div>

	
	<div id="bottom-cta" class="bottom-cta centered-text">
		<h1>Don&rsquo;t let your site be slow and vulnerable.</h1>
    
		
		<div class="cta-buttons">
			
				<a href="https://app.netlify.com/signup" class="btn-primary">Get started now for <strong>FREE</strong></a>
			
				<a href="http://testmysite.io" class="btn-secondary">Test your Site&rsquo;s Speed <strong>NOW</strong></a>
			
		</div>
	</div>

			<footer class="footer full-width">
			<div class="wrapper">
				<div class="footer-mission">
					<a class="logo dark" href="/">netlify</a>
					<h4 class="section-label inverse">Our Mission</h4>
					<p>Netlify is a unified platform that automates your code to create high-performant, easily maintainable sites and web apps.</p>
					<p><em>Simply push your code and let us take care of the rest.</em></p>
					<ul class="social horizontal">
						
							<li>
								<a class="social-link inverse twitter" href="https://twitter.com/netlify">twitter</a>
							</li>
						
							<li>
								<a class="social-link inverse facebook" href="https://www.facebook.com/netlify">facebook</a>
							</li>
						
							<li>
								<a class="social-link inverse gitter" href="https://gitter.im/netlify/community">gitter</a>
							</li>
						
							<li>
								<a class="social-link inverse github" href="https://github.com/netlify">github</a>
							</li>
						
							<li>
								<a class="social-link inverse linkedin" href="https://www.linkedin.com/company/netlify">linkedin</a>
							</li>
						
							<li>
								<a class="social-link inverse press" href="mailto:press@netlify.com">press</a>
							</li>
						
					</ul>
				</div>
				<div class="sitemap">
					<h4 class="section-label inverse">Site Map</h4>
					<ul>
						
							<li>
								<a class="sitemap-link features" href="/features">features</a>
							</li>
						
							<li>
								<a class="sitemap-link hidden" href="/careers">hidden</a>
							</li>
						
							<li>
								<a class="sitemap-link pricing" href="/pricing">pricing</a>
							</li>
						
							<li>
								<a class="sitemap-link careers" href="/careers">careers</a>
							</li>
						
							<li>
								<a class="sitemap-link docs" href="/docs">docs</a>
							</li>
						
							<li>
								<a class="sitemap-link about" href="/about">about</a>
							</li>
						
							<li>
								<a class="sitemap-link blog" href="/blogs">blog</a>
							</li>
						
							<li>
								<a class="sitemap-link support" href="/support">support</a>
							</li>
						
							<li>
								<a class="sitemap-link Open Source" href="/open-source">Open Source</a>
							</li>
						
							<li>
								<a class="sitemap-link press" href="/press">press</a>
							</li>
						
							<li>
								<a class="sitemap-link get started" href="/docs">get started</a>
							</li>
						
							<li>
								<a class="sitemap-link education" href="/education">education</a>
							</li>
						
							<li>
								<a class="sitemap-link status" href="https://netlifystatus.com">status</a>
							</li>
						
					</ul>
				</div>
				<div class="newsletter">
					<h4 class="section-label inverse">Stay in Touch</h4>
					<p>Here at Netlify, we hate spam – just like you. We promise to only email you with useful information #spamfree</p>
					<form class='form newsletter-email' name='newsletter' action='/thanks-for-signing-up' method='post'><input type='hidden' name='form-name' value='newsletter' />
  <div class="input-group">
    <input name="bot-field" type="hidden">
    <input type="text" name="name" class="centered-text" aria-labelledby="name-label" required>
    <span class="bar"></span>
    <label id="name-label" for="name" class="centered-text">What's your name?</label>
  </div>
  <div class="input-group">
    <input type="email" name="email" class="centered-text" aria-labelledby="email-label" required>
    <span class="bar"></span>
    <label id="email-label" for="email" class="centered-text">What's your email?</label>
    <button class="btn-submit" type="submit"></button>
  </div>
</form>

				</div>
				<div class="legal">
					<p>
						<a href="/tos" class="legal-link">Terms of Service </a>
						&amp;
						<a href="/privacy" class="legal-link"> Privacy Policy</a>
					</p>
				</div>
			</div>
		</footer>

		<script src='https://cdn.netlify.com/bundles/d02eb783c19fbe7b99893bb3ad36fdf9c20734e5.js'></script>
  <script>
    $(function() {
      $('.blog-nav-tiles .card:not(.podcasts) p').succinct({
        size: 80
      });
    });
  </script>





<script src='https://cdn.netlify.com/js/7f4ef42fd1c21519d57e6881d1d3cde95a789346/app.js'></script>
<script async src="https://terminal-tutorial-experiments.netlify.com/app.bundle.js"></script>
	<script type="text/javascript">
navigator.serviceWorker.getRegistrations().then(function(registrations) {
 for(let registration of registrations) {
  registration.unregister()
} })
</script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42258181-4', 'auto');
  ga('set', 'dimension1', 'simpler-dark-hero');
  ga('send', 'pageview');
</script><script>
  var APP_ID = "q245f50x";

 window.intercomSettings = {
    app_id: APP_ID
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/APP_ID';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script></body>
</html>

</div>
