
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <title>
      
        Plans and Pricing | Netlify
      
    </title>
    <link rel="manifest" href="/img/global/favicon/manifest.json">
    <link rel="search" type="application/opensearchdescription+xml" title="Netlify" href="/opensearch.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/global/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/global/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/global/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/global/favicon/manifest.json">
    <link rel="mask-icon" href="/img/global/favicon/safari-pinned-tab.svg" color="#00c7b7">
    <link rel="shortcut icon" href="/img/global/favicon/favicon.ico">
    
    <meta name="apple-mobile-web-app-title" content="Netlify">
    <meta name="application-name" content="Netlify">
    <meta name="msapplication-config" content="/img/global/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content='
      
        Simple pricing for the modern and automated web platform. Monthly plans to suit your project size. All plans start with a free trial.
      
    '>
    <meta itemprop="name" content='
      
        Plans and Pricing | Netlify
      
    '>
    <meta itemprop="description" content='
      
        Simple pricing for the modern and automated web platform. Monthly plans to suit your project size. All plans start with a free trial.
      
    '>
    <meta itemprop="image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@netlify">
    <meta name="twitter:title" content='
      
        Plans and Pricing | Netlify
      
    '>
    <meta name="twitter:description" content='
      
        Simple pricing for the modern and automated web platform. Monthly plans to suit your project size. All plans start with a free trial.
      
    '>
    <meta name="twitter:creator" content="@netlify">
    <meta name="twitter:image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta property="og:title" content='
      
        Plans and Pricing | Netlify
      
    '>
    <meta property="og:description" content='
      
        Simple pricing for the modern and automated web platform. Monthly plans to suit your project size. All plans start with a free trial.
      
    '>
    <meta name="og:image" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta name="og:image:secure_url" content="https://www.netlify.com/img/global/meta-image.jpg">
    <meta property="og:site_name" content="Netlify" />
    <link rel='stylesheet' href='https://cdn.netlify.com/bundles/a934830defd017b41ac0a8a77486ee08dd6a04b4.css'/>


	



    
  <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0066/4847.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script></head>
  <body>
  
    <header id="header" class="full-width header">
  <nav class="global-nav desktop">
    
			<a href="/" class="nav-item logo nav-logo" data-letters="logo">logo</a>
		
			<a href="/features/" class="nav-item " data-letters="Features">Features</a>
		
			<a href="/pricing/" class="nav-item " data-letters="Pricing">Pricing</a>
		
			<a href="/docs/" class="nav-item " data-letters="Docs">Docs</a>
		
			<a href="/blogs/" class="nav-item " data-letters="Blog">Blog</a>
		
			<a href="/support/" class="nav-item " data-letters="Support">Support</a>
		
		<div class="nav-ctas">
			<a href="https://app.netlify.com/" class="nav-item nav-cta">Log In</a>
			<a href="https://app.netlify.com/signup" class="nav-item smaller btn-primary nav-cta">Sign Up</a>
		</div>
		<div id="menu-icon-wrapper" class="menu-icon-wrapper">
			<svg width="1000px" height="1000px">
				<path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800" style="stroke-dashoffset: 5803.15; stroke-dasharray: 2901.57, 2981.57, 240;"></path>
				<path id="pathB" d="M 300 500 L 700 500" style="stroke-dashoffset: 800; stroke-dasharray: 400, 480, 240;"></path>
				<path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200" style="stroke-dashoffset: 6993.11; stroke-dasharray: 3496.56, 3576.56, 240;"></path>
			</svg>
			<button id="menu-icon-trigger" class="menu-icon-trigger"></button>
		</div>
		<button id="search-button" class="search-button">
			<div id="search-icon" class="search-icon">
				<div class="search-icon-circle"></div>
				<div class="search-icon-rectangle right"></div>
				<div class="search-icon-rectangle left"></div>
			</div>
		</button>
	</nav>
	<nav id="global-nav" class="global-nav mobile">
		
			<a href="/" class="nav-item nav-logo" data-letters="logo">logo</a>
		
			<a href="/features/" class="nav-item " data-letters="Features">Features</a>
		
			<a href="/pricing/" class="nav-item " data-letters="Pricing">Pricing</a>
		
			<a href="/docs/" class="nav-item " data-letters="Docs">Docs</a>
		
			<a href="/blogs/" class="nav-item " data-letters="Blog">Blog</a>
		
			<a href="/support/" class="nav-item " data-letters="Support">Support</a>
		
		<a href="https://app.netlify.com/" class="nav-item login-nav-item">Log In</a>
		<a href="https://app.netlify.com/signup" class="nav-item smaller btn-primary nav-cta">Sign Up</a>
	</nav>
</header>
  

  <div id="search-overlay" class="search-overlay">
	<div class="container">
		<input id="search" class="search-input" type="search" placeholder="Type to Search">
		<span id="clear-search" class="clear-search">×</span>
		<span class="search-bar"></span>
		<span class="esc-note">press <strong>ESC</strong> to close</span>
		<span><img src="https://cdn.netlify.com/4c75b91b88ae0450ea5513b1f4dfc7e54f1ce0f0/a44b1/img/global/search-by-algolia.svg"/></span>
		<div id="results" class="search-results">
		</div>
	</div>
</div>



<div class="pricing page">
  <div class="hero full-width">
    <div class="gradient-bg"></div>
    <div class="pricing-top-features">
      <div class="intro centered-text">
	<h1>All plans, all access</h1>

	
		<h2>Collaborate with everyone on your team, on any plan, for any kind of project.</h2>
	

	
  
  
  
</div>
      <div class="container">
        
          <div class="pricing-feature">
            <img src="https://cdn.netlify.com/41d95f8eec4f264fa187f4c013b9956a5dbdf553/18957/img/pricing/code-icon.svg" class="feature-icon"/>
            <p>Unlimited sites</p>
          </div>
        
          <div class="pricing-feature">
            <img src="https://cdn.netlify.com/5a094e0cad9135e014090389e2cb8f39236db37d/d1f4f/img/pricing/users-icon.svg" class="feature-icon"/>
            <p>Unlimited collaborators</p>
          </div>
        
          <div class="pricing-feature">
            <img src="https://cdn.netlify.com/eeff1394729a1cd075fd25caf4b8290941ef0589/3162a/img/pricing/money-icon.svg" class="feature-icon"/>
            <p>Personal or commercial projects</p>
          </div>
        
          <div class="pricing-feature">
            <img src="https://cdn.netlify.com/dcb07bdfc3cfcbf425a817da85ec221cb7034b6e/8b1b3/img/pricing/repo-icon.svg" class="feature-icon"/>
            <p>Public or private code</p>
          </div>
        
      </div>
    </div>
    <div class="pricing-tiers container">
      
        <div class="tier tier1 quarter">
          <div class="card-top">
            <h3 class="tier-label">Bronze</h3>
          </div>
          <div class="card-middle">
            <h4 class="amount">Free</h4>
            <strong class="tier-subtext">for all users</strong>
            <div class="tier-tagline">
              Deploy now with our entire feature set
            </div>
          </div>
          
          <div class="card-bottom">
            <a href="https://app.netlify.com/signup">Sign up now</a>
          </div>
        </div>
      
        <div class="tier tier2 quarter">
          <div class="card-top">
            <h3 class="tier-label">Silver</h3>
          </div>
          <div class="card-middle with-disclaimer">
            <h4 class="amount">$9<span>*</span></h4>
            <strong class="tier-subtext">per user / month</strong>
            <div class="tier-tagline">
              Administrator roles allow for a refined workflow with others
            </div>
          </div>
          
            <div class="card-middle tier-disclaimer mobile">
              <span>*</span> Starting at $<strong>45</strong>/month which includes your first 5 users.
            </div>
          
          <div class="card-bottom">
            <a href="https://app.netlify.com/signup">Sign up now</a>
          </div>
        </div>
      
        <div class="tier tier3 quarter">
          <div class="card-top">
            <h3 class="tier-label">Gold</h3>
          </div>
          <div class="card-middle with-disclaimer">
            <h4 class="amount">$29<span>*</span></h4>
            <strong class="tier-subtext">per user / month</strong>
            <div class="tier-tagline">
              Fine-grained roles and a high performance build environment
            </div>
          </div>
          
            <div class="card-middle tier-disclaimer mobile">
              <span>*</span> Starting at $<strong>290</strong>/month which includes your first 10 users.
            </div>
          
          <div class="card-bottom">
            <a href="https://app.netlify.com/signup">Sign up now</a>
          </div>
        </div>
      
        <div class="tier tier4 quarter">
          <div class="card-top">
            <h3 class="tier-label">Platinum</h3>
          </div>
          <div class="card-middle">
            <h4 class="amount">inquire</h4>
            <strong class="tier-subtext"><a href="/enterprise" class="btn-tertiary">Learn more</a></strong>
            <div class="tier-tagline">
              For mission-critical projects requiring more speed, security, support
            </div>
          </div>
          
          <div class="card-bottom">
            <a href="https://app.netlify.com/signup">Get in touch</a>
          </div>
        </div>
      
    </div>
    <div class="tier-disclaimers container">
      
        
          <div class="tier-disclaimer-spacer quarter"> </div>
        
      
        
          <div class="tier-disclaimer quarter">
            <span>*</span> Starting at $<strong>45</strong>/month which includes your first 5 users.
          </div>
        
      
        
          <div class="tier-disclaimer quarter">
            <span>*</span> Starting at $<strong>290</strong>/month which includes your first 10 users.
          </div>
        
      
        
          <div class="tier-disclaimer-spacer quarter"> </div>
        
      
    </div>
  </div>

  <div class="feature-comparison container">
    <div class="tier-features">
      
        <div class="tier1 tier-feature quarter">
          <ul>
<li>All of our features, including:</li>
<li>Unlimited sites and collaborators</li>
<li>Personal or commercial projects</li>
<li>Public or private repositories</li>
<li>HTTPS for custom domains</li>
<li>Continuous Deployment</li>
<li>Global CDN</li>
<li>Form handling</li>
<li>Community support</li>
</ul>

        </div>
      
        <div class="tier2 tier-feature quarter">
          <ul>
<li>Everything in Bronze, and:</li>
<li>Two-level administrator roles</li>
<li>Visitor access control by password</li>
<li>Email and chat support</li>
</ul>

        </div>
      
        <div class="tier3 tier-feature quarter">
          <ul>
<li>Everything in Silver, and:</li>
<li>Multi-level administrator roles</li>
<li>Visitor access control by role</li>
<li>High performance Continuous Deployment environment</li>
<li>Email and chat support</li>
</ul>

        </div>
      
        <div class="tier4 tier-feature quarter">
          <ul>
<li>Everything in Gold, and:</li>
<li>Private, dedicated Continuous Deployment environment</li>
<li>Single sign-on integrations</li>
<li>Uptime &amp; performance SLAs</li>
<li>Integration services</li>
<li>Prioritized feature requests</li>
<li>Phone, email, and chat support</li>
</ul>

        </div>
      
    </div>
  </div>

  <div class="container">
    <div class="elrs-card">
      <div class="inner-content">
        <h1>Leverage our Intelligent CDN with Edge Logic Requests</h1>
        Netlify’s intelligent CDN can process requests you’d normally have to run through a single server or in client-side Javascript. This means you can handle processes like A/B testing, prerendering, and content localization directly on our CDN edge nodes, increasing speed and efficiency.</p>

<p><em>All plans include up to 100,000 ELRs / month.<br>Need more? <a href="/enterprise" class="btn-tertiary">Get in touch</a></em>
      </div>
    </div>
  </div>

  <div class="pricing-global-features">
    <div class="intro centered-text">
	<h1>Awesome out of the box</h1>

	
		<h2>All plans give you our platform of 70+ production-grade features.</h2>
	

	
  
  
  
</div>
    <div class="container">
      <div class="description clearfix">
        <ul>
<li>Intelligent global CDN</li>
<li>Git-triggered builds</li>
<li>Custom domain support</li>
<li>HTTPS for custom domains</li>
<li>Full domain management</li>
<li>Hooks &amp; notifications</li>
<li>Form handling</li>
<li>Asset acceleration</li>
<li>Prerendering*</li>
<li>Branch-based split testing*</li>
<li>Advanced proxy rules*</li>
<li>Country/language-based rules*</li>
<li>Branch deploy previews</li>
<li>Atomic deploys</li>
<li>Versioning &amp; rollbacks</li>
<li>Unlimited snapshots</li>
</ul>

      </div>
      <div class="elr-disclaimer">
        *These features leverage Edge Logic Requests (ELRs) on our Intelligent CDN.
      </div>
      <div class="actions">
        <a href="/features" class="btn-primary">See all features</a>


        <a href="/enterprise" class="btn-secondary">Ask about platinum</a>


      </div>
    </div>
  </div>

  		<footer class="footer full-width">
			<div class="wrapper">
				<div class="footer-mission">
					<a class="logo dark" href="/">netlify</a>
					<h4 class="section-label inverse">Our Mission</h4>
					<p>Netlify is a unified platform that automates your code to create high-performant, easily maintainable sites and web apps.</p>
					<p><em>Simply push your code and let us take care of the rest.</em></p>
					<ul class="social horizontal">
						
							<li>
								<a class="social-link inverse twitter" href="https://twitter.com/netlify">twitter</a>
							</li>
						
							<li>
								<a class="social-link inverse facebook" href="https://www.facebook.com/netlify">facebook</a>
							</li>
						
							<li>
								<a class="social-link inverse gitter" href="https://gitter.im/netlify/community">gitter</a>
							</li>
						
							<li>
								<a class="social-link inverse github" href="https://github.com/netlify">github</a>
							</li>
						
							<li>
								<a class="social-link inverse linkedin" href="https://www.linkedin.com/company/netlify">linkedin</a>
							</li>
						
							<li>
								<a class="social-link inverse press" href="mailto:press@netlify.com">press</a>
							</li>
						
					</ul>
				</div>
				<div class="sitemap">
					<h4 class="section-label inverse">Site Map</h4>
					<ul>
						
							<li>
								<a class="sitemap-link features" href="/features">features</a>
							</li>
						
							<li>
								<a class="sitemap-link hidden" href="/careers">hidden</a>
							</li>
						
							<li>
								<a class="sitemap-link pricing" href="/pricing">pricing</a>
							</li>
						
							<li>
								<a class="sitemap-link careers" href="/careers">careers</a>
							</li>
						
							<li>
								<a class="sitemap-link docs" href="/docs">docs</a>
							</li>
						
							<li>
								<a class="sitemap-link about" href="/about">about</a>
							</li>
						
							<li>
								<a class="sitemap-link blog" href="/blogs">blog</a>
							</li>
						
							<li>
								<a class="sitemap-link support" href="/support">support</a>
							</li>
						
							<li>
								<a class="sitemap-link Open Source" href="/open-source">Open Source</a>
							</li>
						
							<li>
								<a class="sitemap-link press" href="/press">press</a>
							</li>
						
							<li>
								<a class="sitemap-link get started" href="/docs">get started</a>
							</li>
						
							<li>
								<a class="sitemap-link education" href="/education">education</a>
							</li>
						
							<li>
								<a class="sitemap-link status" href="https://netlifystatus.com">status</a>
							</li>
						
					</ul>
				</div>
				<div class="newsletter">
					<h4 class="section-label inverse">Stay in Touch</h4>
					<p>Here at Netlify, we hate spam – just like you. We promise to only email you with useful information #spamfree</p>
					<form class='form newsletter-email' name='newsletter' action='/thanks-for-signing-up' method='post'><input type='hidden' name='form-name' value='newsletter' />
  <div class="input-group">
    <input name="bot-field" type="hidden">
    <input type="text" name="name" class="centered-text" aria-labelledby="name-label" required>
    <span class="bar"></span>
    <label id="name-label" for="name" class="centered-text">What's your name?</label>
  </div>
  <div class="input-group">
    <input type="email" name="email" class="centered-text" aria-labelledby="email-label" required>
    <span class="bar"></span>
    <label id="email-label" for="email" class="centered-text">What's your email?</label>
    <button class="btn-submit" type="submit"></button>
  </div>
</form>

				</div>
				<div class="legal">
					<p>
						<a href="/tos" class="legal-link">Terms of Service </a>
						&amp;
						<a href="/privacy" class="legal-link"> Privacy Policy</a>
					</p>
				</div>
			</div>
		</footer>

		<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/segment.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.localScroll.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/ease.js"></script>
<script src="/js/mobilemenu.js"></script>
<script src="/js/jquery.matchHeight.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/requestAnimationFramePolyfill.js"></script>
<script src="/js/equalizeHeights.js"></script>
<script src="/js/animatedTooltips.js"></script>
<script src="/js/algoliasearch.js"></script>
<script src="/js/liveSearch.js"></script>
<script src="/js/renderSvgs.js"></script>
<script src="/js/clipboard.min.js"></script>


  <script src="/js/interactiveFeatures.js"></script>







  <script src="/js/docsNav.js"></script>















  <script src="/js/wavesurfer.js"></script>
  <script src="/js/podcastPlayer.js"></script>
  <script src="/js/jQuery.succinct.js"></script>
  <script>
    $(function() {
      $('.blog-nav-tiles .card:not(.podcasts) p').succinct({
        size: 80
      });
    });
  </script>





<script src='https://cdn.netlify.com/js/7f4ef42fd1c21519d57e6881d1d3cde95a789346/app.js'></script>
<script async src="https://terminal-tutorial-experiments.netlify.com/app.bundle.js"></script>
	<script type="text/javascript">
navigator.serviceWorker.getRegistrations().then(function(registrations) {
 for(let registration of registrations) {
  registration.unregister()
} })
</script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42258181-4', 'auto');
  ga('set', 'dimension1', 'simpler-dark-hero');
  ga('send', 'pageview');
</script><script>
  var APP_ID = "q245f50x";

 window.intercomSettings = {
    app_id: APP_ID
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/APP_ID';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script></body>
</html>

</div>
